
input{
     border-radius: 50px !important;
}

select{
    border-radius: 50px !important;
}

#obrigatorio{
    color: red;
}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

